---
import SLogin from "../components/Login";
import "../index.css";
import checkAuthed from "../utils/checkAuthed";

if (Astro.cookies.has("authed")) {
  return Astro.redirect("/");
}
---

<!DOCTYPE html>
<html lang="en" class="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <SLogin client:only />
  </body>
</html>
