@tailwind base;
@tailwind components;
@tailwind utilities;

.tippy-box[data-theme~="error"] {
  background-color: rgb(248 113 113);
  color: white;
}
.tippy-box[data-theme~="error"][data-placement^="top"] > .tippy-arrow::before {
  border-top-color: rgb(248 113 113);
}
.tippy-box[data-theme~="error"][data-placement^="bottom"]
  > .tippy-arrow::before {
  border-bottom-color: rgb(248 113 113);
}
.tippy-box[data-theme~="error"][data-placement^="left"] > .tippy-arrow::before {
  border-left-color: rgb(248 113 113);
}
.tippy-box[data-theme~="error"][data-placement^="right"]
  > .tippy-arrow::before {
  border-right-color: rgb(248 113 113);
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-exit-to {
  opacity: 0;
}

.slide-fade-bottom-enter-active,
.slide-fade-bottom-exit-active {
  transition: all 0.4s ease;
}
.slide-fade-bottom-enter,
.slide-fade-bottom-exit-to {
  opacity: 0;
  transform: translateY(100vh);
}
